doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel="stylesheet", href="/css/style.css")
        script(type="text/javascript", src="/js/jquery-min.js")
        title Index
        script(type="text/javascript").
            $(document).ready(function(){
                $('#Region').click(function() {
                    $.post(
                        '/api/result',
                        {searchFor : 'Region'},
                        function(data) {
                            console.log(data);
                            $("#result_table").replaceWith($(data).find("#result_table"));
                            $("#site_link").replaceWith($(data).find("#site_link"));
                        },
                        'html'
                    );
                });
                $('#Theme').click(function() {
                    $.post(
                        '/api/result',
                        {searchFor : 'Theme'},
                        function(data) {
                            console.log(data);
                            $("#result_table").replaceWith($(data).find("#result_table"));
                            $("#site_link").replaceWith($(data).find("#site_link"));
                        },
                        'html'
                    );
                });
                $('#Search').click(function() {
                    var word = $("#Searchword").val();
                    $.trim(word);
                    if (!$.trim(word)) {
                        alert('검색어를 입력해주세요');
                        $('#Searchword').val('');
                        return;
                    }
                    $.post(
                        '/api/result',
                        {searchFor : $.trim(word)},
                        function(data) {
                            console.log(data);
                            $("#result_table").replaceWith($(data).find("#result_table"));
                            $("#site_link").replaceWith($(data).find("#site_link"));
                        },
                        'html'
                    );
                });
            });
    body
        section
            p
            |
            input(type='button', id='Region', value='지역별')
            |
            input(type='button', id='Theme', value='주제별')
            |
            input(type='text', id='Searchword', placeholder='검색어를 입력해주세요')
            |
            input(type='button', id='Search', value='검색')
        p
            section
                table#result_table
                    tr
                    each head in tablehead
                        th= head.name
                    each result in results  
                        tr 
                            td= result.id
                            td= result.name
                            td= result.year
        p
            section
                p
                |
                a#site_link(href= link_name) Link