doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel="stylesheet", href="/css/style.css")
        title Index
    body
        form(action='/result', method='POST')
            p
            | name: 
            input(type='text', name='name', placeholder='Enter the name')
            p 
            | year: 
            input(type='text', name='year', placeholder='Enter a year')
            p
            |
            input(type='submit', value='Submit')
        table 
            tr
            each potato in potatoes 
                th=potato
            tr 
                td 1
                td 김영희
            tr 
                td 2
                td 김순자