doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel="stylesheet", href="/css/style.css")
        title result
    body
        h1 Name : #{name}
        h1 Year : #{year}
        

